PANEL_TOKEN=replace-with-a-random-32-byte-token
PANEL_OPERATOR_TOKEN=
PANEL_VIEWER_TOKEN=
PALPANEL_REQUIRE_AUTH=true
PALPANEL_CORS_ORIGINS=http://127.0.0.1:3000,http://localhost:3000
PALPANEL_FRONTEND_DIST=..\frontend\dist
PALPANEL_MAX_UPLOAD_MB=256
PALPANEL_LISTEN_ADDR=:8080
PALPANEL_DATA_DIR=..\data
PALPANEL_DOCKER_RUNNER_BASE_IMAGE=scottyhardy/docker-wine:latest@sha256:477aae36af41923cfb5eefb23923b035f8010caa49eaded952316f937dd8a49b
PALPANEL_DOCKER_RUNNER_BASE_IMAGE_MIRRORS=docker.m.daocloud.io,docker.1ms.run,registry.cyou,dockerproxy.net,dockerproxy.link,docker.jiaxin.site,docker.xuanyuan.me,free.hubfast.cn
PALPANEL_SERVER_DIR=..\data\server
PALPANEL_TOOLS_DIR=..\data\tools
PALPANEL_STEAMCMD_DIR=..\data\tools\steamcmd
PALPANEL_BACKUPS_DIR=..\data\backups
PALPANEL_LOGS_DIR=..\data\logs
PALPANEL_GAME_PORT=8211
PALPANEL_QUERY_PORT=27015
PALPANEL_REST_PORT=8212
PALWORLD_REST_BASE_URL=http://127.0.0.1:8212/v1/api
PALWORLD_ADMIN_PASSWORD=

# Optional for private Workshop items.
STEAM_USERNAME=
STEAM_PASSWORD=

# Optional if Docker/Go need proxy access.
HTTP_PROXY=socks5://127.0.0.1:10808
HTTPS_PROXY=socks5://127.0.0.1:10808
ALL_PROXY=socks5://127.0.0.1:10808
