PANEL_TOKEN=change-me
PALPANEL_LISTEN_ADDR=:8080
PALPANEL_DATA_DIR=D:\WL\me\pal\data
PALPANEL_SERVER_DIR=D:\WL\me\pal\data\server
PALPANEL_TOOLS_DIR=D:\WL\me\pal\data\tools
PALPANEL_STEAMCMD_DIR=D:\WL\me\pal\data\tools\steamcmd
PALPANEL_BACKUPS_DIR=D:\WL\me\pal\data\backups
PALPANEL_LOGS_DIR=D:\WL\me\pal\data\logs
PALPANEL_GAME_PORT=8211
PALPANEL_QUERY_PORT=27015
PALPANEL_REST_PORT=8212
PALWORLD_REST_BASE_URL=http://127.0.0.1:8212/v1/api
PALWORLD_ADMIN_PASSWORD=

# Optional for private Workshop items.
STEAM_USERNAME=
STEAM_PASSWORD=

# Optional if Docker/Go need proxy access.
HTTP_PROXY=socks5://127.0.0.1:10808
HTTPS_PROXY=socks5://127.0.0.1:10808
ALL_PROXY=socks5://127.0.0.1:10808
